<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->



<div>
  <mat-tab-group dynamicWeight dynamicHeight>
    <mat-tab label="BS">
     
      <h2>Products</h2>

      <div *ngFor="let product of products; index as productId">
        <h3>
          <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
            {{ product.name }}
          </a>
        </h3>

        <p *ngIf="product.description">
          Description: {{ product.description }}
        </p>

        <button (click)="share()">
          Share
        </button>


        <app-product-alerts [product]="product" (notify)="onNotify()">
        </app-product-alerts>
      </div>
    </mat-tab>
    <mat-tab label="Books"> Content 2 </mat-tab>
    <mat-tab label="Setting"> Content 3 </mat-tab>
  </mat-tab-group>
</div>
