<div>
  <button nz-button nzType="primary" (click)="open()">Open</button>
  <button nz-button [nzType]="'primary'" (click)="createBasicNotification()">Open the notification box</button>

  <div>
    <nz-input-group nzAddOnBefore="Http://">
      <input nz-input placeholder="www.baidu.com" [(ngModel)]="webAddress" />
    </nz-input-group>

    <button nz-button nzType="primary" (click)="openWebSite()">Go</button>
  </div>

  <iframe frameborder="0" width="1000" height="700" allowfullscreen="true" [src]="webAddressSafeUrl"></iframe>

  <div>
    <nz-timeline *ngFor="let eachTimeLine of currentBsActionData">
      <nz-timeline-item nzColor="{{ eachTimeLine.color }}">
        {{ eachTimeLine.describe }} do {{ eachTimeLine.action }} with {{ eachTimeLine.costPrice }} of {{ eachTimeLine.shareNumber }} on {{ eachTimeLine.actionDate }}
      </nz-timeline-item>
    </nz-timeline>
  </div>


  <!-- 抽屉 -->
  <nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" nzTitle="Bs Details" (nzOnClose)="close()" [nzWidth]="400">
    <ng-container>
      <nz-collapse>
        <nz-collapse-panel *ngFor="let panel of bsDetailPanels" [nzHeader]="panel.name" [nzActive]="panel.active" [nzDisabled]="panel.disabled">
          <p style="margin:0;">
            {{ panel.content }}
          </p>
        </nz-collapse-panel>
      </nz-collapse>
    </ng-container>
  </nz-drawer>

</div>

